<?xml version="1.0"?>

<robot name="diffbot">

  <!-- Base -->

  <link name="base_link">

    <visual>
      <geometry>
        <box size="0.3 0.2 0.1"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="0.3 0.2 0.1"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="2.0"/>

      <inertia
        ixx="0.01"
        iyy="0.01"
        izz="0.01"
        ixy="0"
        ixz="0"
        iyz="0"/>
    </inertial>

  </link>

  <!-- Left Wheel -->

  <link name="left_wheel">

    <visual>
      <origin rpy="1.5707 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
    </visual>

    <collision>
      <origin rpy="1.5707 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
    </collision>

  </link>

  <joint name="left_wheel_joint"
         type="continuous">

    <parent link="base_link"/>
    <child link="left_wheel"/>

    <origin xyz="0 0.12 -0.05"/>

    <axis xyz="0 1 0"/>

  </joint>

  <!-- Right Wheel -->

  <link name="right_wheel">

    <visual>
      <origin rpy="1.5707 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
    </visual>

    <collision>
      <origin rpy="1.5707 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.03"/>
      </geometry>
    </collision>

  </link>

  <joint name="right_wheel_joint"
         type="continuous">

    <parent link="base_link"/>
    <child link="right_wheel"/>

    <origin xyz="0 -0.12 -0.05"/>

    <axis xyz="0 1 0"/>

  </joint>
<link name="caster">

  <visual>
    <geometry>
      <sphere radius="0.025"/>
    </geometry>
  </visual>

  <collision>
    <geometry>
      <sphere radius="0.025"/>
    </geometry>
  </collision>

</link>

<joint name="caster_joint" type="fixed">

  <parent link="base_link"/>
  <child link="caster"/>

  <origin xyz="-0.12 0 -0.03"/>

</joint>
</robot>
